@model IEnumerable<HRTest.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<h1 class="fw-bold text-center" style="color: #007bff;">Employee</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success btn-sm mb-1" asp-route-id="@item.Id">Edit</a> |
               @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" class="btn btn-danger btn-sm mb-1" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> 
}
    </tbody>
</table>
